<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Lambdatime", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <a href = "/static_pages/home"> Home</a> </li>
            <li> <a href = "/members"> Members </a> </li>
            <li><a href = "/messages"> Messages </a> </li>
          </ul>
        </nav>
      </div>
    </header>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @message.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
