<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Blast", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <a href = "/static_pages/home"> Home</a> </li>
            <li> <a href = "/members"> Members </a> </li>
            <li><a href = "/messages"> Messages </a> </li>
          </ul>
        </nav>
      </div>
    </header>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
